.button {
  max-width: 600px;
  background: var(--red-900);
  border: 0;
  height: 2.5rem;
  padding: 1rem;
  color: white;
  border-radius: 0.5rem;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: filter 0.2s;

  &[disabled] {
    cursor: not-allowed;
    svg {
      animation: animate 1s infinite;
    }
  }

  &:hover {
    filter: brightness(0.8);
  }
}

@keyframes animate {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
}